<!DOCTYPE html>
<html>
  <head>
    <title>Thermostat</title>
    <script src="../src/thermostat.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
  </head>
  <body>
    <script src="../js/jquery.js"></script>
    <script src="../js/interface.js"></script>

    <h1>Thermostat</h1>

    <h2 id="temperature">Temperature</h2>
    <button id="up">+</button>
    <button id="down">-</button>
    <button id="reset">Reset</button><br>

    <h3>Current Temperature:</h3>
    <h3 id="current-temperature"></h3><br>
    <input id="city" type="text" name="city" value=London>
    <input id="go" type="button" Value="Go">

    <h4>Power Saving Mode</h4>
    <h4 id="psm-status">On</h4>
    <button id="psm-on">On</button>
    <button id="psm-off">Off</button>
  </body>
</html>
